<mat-card class="signin-container">
    <h2 mat-dialog-title>Sign in</h2>
    <form mat-dialog-content [formGroup]="user" (ngSubmit)="submit()">
        <div>
            <mat-form-field width="100%">
                <mat-label>User Name</mat-label>
                <input
                    matInput
                    id="user-name"
                    formControlName="name"
                />
            </mat-form-field>

            <mat-error *ngIf="name && name.invalid && (name.dirty || name.touched)">{{ nameErrors }}</mat-error>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                    matInput
                    id="user-password"
                    type="password"
                    formControlName="password"
                />
            </mat-form-field>
            <mat-error *ngIf="password && password.invalid && (password.dirty || password.touched)">{{ passwordErrors }}</mat-error>
        </div>
        <mat-error *ngIf="asyncErrors">{{ asyncErrors }}</mat-error>
        <div mat-dialog-actions class="signin-buttons">
            <button mat-raised-button type="submit">Sign in</button>
            <button mat-flat-button (click)="close()">Close</button>
        </div>
    </form>
</mat-card>